
.nav {
	background-color: black;
	color: #DDDDDD;
	height: 75px;

}




a {
	margin-right: 10px;
	
}

a.brand-logo {
	color: #DDDDDD;
	margin-left: 100px;
	
}


.item span {
	color: #DDDDDD;
	font-size: 12px;
	
}

i.anticon.anticon-user {
     
     line-height: 30px; 
     color: black;
}

div.nav-wrapper {
	height: 75px;
}

