/*@import '~antd/dist/antd.css';*/

.ant-carousel .slick-slide {
  text-align: center;
  height: 450px;
  line-height: 150px;
  background: white;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
}

img.carspics {
	min-width: 100%;
	position: absolute;
	top: -150px;
  margin-top: 150px;
}

